* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 47, 255, 0.699);
    padding: 40px;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: Beaufort for LOL, serif; */
    font-family: "Spiegel", "Arial Narrow", Arial, sans-serif;
}

.section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section #section-card {
    width: 992px;
    min-height: 100vh;
    border: 1px solid white;
    display: inline-block;
    /* z-index: 1; */
}

.link {
    text-decoration: none;
}

.card {
    position: relative;
    display: inline-grid;
    justify-items: baseline;
    width: 200px;
    height: 300px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    align-content: flex-end;
    filter: brightness(70%);
    z-index: 1;
    box-shadow: 0px 10px 14px 6px #00000073;
    transition: filter 1s, border 1s, transform 1s, box-shadow 1s ease-in-out;
    backdrop-filter: blur(5px);
}

.card:hover {
    filter: brightness(100%);
    cursor: pointer;
    border: 1px solid #03a9f4;
    transform: rotate3D(2, 3, 0, 33deg);
    box-shadow: -31px 29px 24px -2px #00000073;
    transition: filter 1s, border 1s, transform 1s, box-shadow 1s ease-in-out;
}

.active {
    transform: rotateY(180deg) scale(2);
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 1px solid white;
    border-radius: 10px;
    z-index: 100;
    left: 39%;
    top: 23%;
    transition: 2s;
    filter: brightness(100%);
    box-shadow: inset 57px -22px 111px 33px #0000009e;
}

.active:hover {
    transform: rotateY(180deg) scale(2);
    transition: transform 2s;
    box-shadow: inset 57px -22px 111px 33px #0000009e;
}

.txt {
    position: relative;
    display: none;
    width: 100%;
    height: 62%;
}

.about {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
}

.active .txt {
    transform: rotateY(180deg);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: baseline;
    font-size: 9px;
    z-index: 1;
    padding: 20px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    margin-bottom: 37px;
}

.active .about {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    color: black;
    font-size: 12px;
    list-style-type: none;
    z-index: 10;
}

.spell {
    height: 30px;
    width: 30px;
    padding: 2px;
    border-radius: 10px;
    transition: 0.2s linear;
}

.active:hover .spell {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.active .spell:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 7px 3px rgb(0, 0, 0);
    border: 1px solid lime;
    transition: trnasform 0.2s linear, border 0.5s linear, box-shadow 0.2s
}

.active ul>li>ul {
    display: none;
}

.active ul>li:hover>ul {
    display: flex;
    position: absolute;
    width: 151px;
    /* height: 87px; */
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-top: 2px solid #000000c9;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 10px 5px;
    /* transition: display 2s ease-in-out, border 1s ease-in-out; */
    box-shadow: inset 30px 7px 37px 2px #00000085;
}

.active ul>li>ul>li {
    color: rgba(0, 0, 0, 0.55);
    list-style-type: none;
}

.active ul>li>ul>li h3 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
}

.active ul>li>ul>li p {
    font-size: 8px;
}

h2 {
    color: rgba(0, 0, 0, 0.521);
    transform: rotate(270deg);
    margin-bottom: 45px;
    text-transform: uppercase;
    margin-left: -43px;
    letter-spacing: 5px;
    width: 100px;
    height: 27px;
    text-overflow: ellipsis;
}

.active h2 {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: baseline;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    text-align: justify;
    top: -250px;
    transition: transform 1s ease-in-out;
    color: white;
    text-transform: uppercase;
}

.picture {
    width: 200px;
    height: 300px;
    position: absolute;
    filter: blur(2px);
    z-index: 9;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: baseline;
    transition: overflow 2s, box-shadow 1s ease-in-out, border-left 0.5s, border-bottom 0.5s;
}

.card:hover .picture {
    filter: blur(0px);
    overflow: visible;
    box-shadow: inset 57px -22px 111px 33px #0000009e;
    border-radius: 10px;
    border-left: 2px solid #03a9f4;
    border-bottom: 2px solid #03a9f4;
    transition: overflow 2s, box-shadow 1s ease-in-out, border-left 0.5s, border-bottom 0.5s;
}

.active .picture {
    transform: rotateY(180deg);
    filter: blur(0px);
    overflow: visible;
    display: flex;
    justify-content: end;
    align-items: baseline;
    top: -40px;
    left: -69px;
}

.active:hover .picture {
    box-shadow: none;
    border: 0;
    transition: box-shadow 0s, border 0s;
}

img {
    height: 168px;
    transition: transform 1s ease-in-out, height 1s;
}

.card:hover img {
    width: auto;
    height: 230px;
    transform: translate(36px, -56px);
    transition: transform 1s ease-in-out, height 1s;
}

.active:hover img {
    height: 168px;
    transform: translate(0px, 0px);
}

.info {
    width: 100%;
    height: 110px;
    display: grid;
    justify-content: center;
    justify-items: center;
    color: black;
    /* font-family: "Spiegel", "Arial Narrow", Arial, sans-serif; */
    text-transform: uppercase;
}

.active .info {
    display: none;
}

.info .role,
.info .difficulty {
    width: auto;
    position: relative;
    display: grid;
}

h3 {
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
}

.info .role p,
.info .difficulty p {
    font-size: 15px;
    text-align: center;
}